@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
